<!-- <div class="script-editor-container">
    <div class="script-selector">
      <label for="scriptSelector">Select Script:</label>
      <select id="scriptSelector" [(ngModel)]="selectedScriptName">
        <option *ngFor="let name of scriptNames" [value]="name">{{ name }}</option>
      </select>
      <button (click)="loadScript(selectedScriptName)">Load</button>
    </div>
  
    <div class="script-editor">
      <textarea [(ngModel)]="scriptContent" placeholder="Write your script here..."></textarea>
    </div>
  
    <div class="script-actions">
      <button (click)="saveScript()">Save</button>
      <!-- Additional buttons for other actions can be added here -->
    <!-- </div>
  </div>-->
  