<router-outlet></router-outlet>
<mat-sidenav-container>

  <mat-sidenav mode="side" opened>
    <!-- Contenu du sidenav (par exemple, le chat, l'explorateur de fichiers) -->
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Contenu principal (par exemple, la console, l'éditeur de script) -->
  </mat-sidenav-content>

</mat-sidenav-container>
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Mon Application Logo
</mat-toolbar>